[submodule "introvisual-editor"]
	path = introvisual-editor
	url = git@github.com:Introceptibles/introvisual-editor.git
[submodule "supatches/plugins/lsl"]
	path = supatches/plugins/lsl
	url = git@github.com:RenaudGervais/vvvv.lsl.git
[submodule "introvisual"]
	path = introvisual
	url = git@github.com:Introceptibles/introvisual.git
