[submodule "introvisual-editor"]
	path = introvisual-editor
	url = https://github.com/Introceptibles/introvisual-editor.git 
	ignore = untracked
[submodule "supatches/plugins/lsl"]
	path = supatches/plugins/lsl
	url = https://github.com/RenaudGervais/vvvv.lsl.git
	ignore = untracked
[submodule "introvisual"]
	path = introvisual
	url = https://github.com/Introceptibles/introvisual.git
	ignore = untracked
